*.sublime-project
*.sublime-workspace
*.Rproj.user
*.Rproj
*.rds
.Rproj.user
.DS_Store
.Rhistory
*.rds
*.swp
data/**
*.log
*.bam
*.csv
*.gz
*.sam
*.txt
results/**
.snakemake/**
TLpipeline.yaml
*.bedGraph
*.log
*.chrom